body{
color :aqua ;
background-color: blue;
margin: 0px;
margin-bottom: 100px;
}

header{

    border-bottom: solid 2px palegreen;
    margin: 20px;
    font-size: 32px;
    color: black;
}

section{
padding-bottom: 80px;
padding-top: 80px;
background: pink;
display: flex;
justify-content: center;
}
h1{
color: blueviolet;
font-size: 40px;
}

p{
    font-size: 20px;
}
.chamada-texto{
    margin-right: 1%;
    text-align: center;
    padding: 20px;
    background-color: aquamarine;
    color: beige;
}